html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  height: 100%;
  margin: 0;
}

button {
  min-height: 2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: calc(100% - 2rem);
  max-width: calc(800px - 2rem);
}

.icon {
  height: 1em;
  vertical-align: bottom;
  width: 1em;
}

#app {
  height: 100%;
}

/**
* Base layout
*/

.layout {
  --layout-header-height: 50px;

  display: grid;
  height: 100%;
  grid-template:
    "header" var(--layout-header-height)
    "body" calc(100% - var(--layout-header-height))
    / 100%
}

.layout-header {
  display: grid;
  grid-area: header;
}

.layout-body {
  display: grid;
  grid-area: body;
}

/**
* Header
*/

.header {
  background-color: #036;
  color: #fff;
  line-height: var(--layout-header-height);
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 1em;
  margin: 0;
}

.header-buttons {
  display: flex;
}

.header-button {
  background-color: transparent;
  border-style: none;
  color: inherit;
  line-height: 100%;
  margin-left: 0.5em;
  width: 3rem;
}

/**
* Pomodoro
*/

.pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
  overflow: auto;
  text-align: center;
}

.pomodoro-clockWrapper {
  height: 70vmin;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 70vmin;
}

.pomodoro-circle,
.pomodoro-clockHand,
.pomodoro-toggleButton {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pomodoro-clockHand {
  --degree: 0deg;

  transform: rotate(var(--degree));
}

.pomodoro-toggleSymbol {
  display: block;
  fill: #333;
  transform-origin: center;
}

.pomodoro-toggleSymbol[data-inactive="true"] {
  display: none;
}

.pomodoro-remainingTime {
  font-family: 'Share Tech Mono', monospace;
  font-size: 10vmin;
}

/**
* Dialog
*/

.dialog-outer {
  background-color: #0003;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.dialog {
  background-color: #fff;
  border-radius: 0.2rem;
  bottom: 1rem;
  display: grid;
  grid-template:
    "header" 3rem
    "main" auto
    "footer" 3rem
    / auto;
  left: 1rem;
  margin: auto;
  position: absolute;
  right: 1rem;
  top: 1rem;
  max-width: calc(800px - 2rem);
}

.dialog-title {
  padding-left: 1rem;
  font-size: 1.5em;
  margin: 0;
  line-height: 3rem;
}

.dialog-body {
  overflow: auto;
}

.dialog-footer {
  line-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/**
* Settings
*/

.settingsGroup {
  margin-bottom: 1rem;
}

.settingsGroup-heading {
  font-size: 0.8em;
  line-height: 1.5rem;
  margin: 0;
  padding: 0 1rem;
}

.settingItem:not([hidden]) {
  background-color: #f9fcff;
  border-color: #ccc;
  border-style: solid none;
  border-width: 1px;
  color: #666;
  display: block;
  font-size: 0.8rem;
  line-height: 1.5em;
  padding: 0.5rem 1rem;
}

.settingItem + .settingItem {
  border-top-style: none;
}

.settingItem-label {
  display: block;
}

.settingItem-input {
  box-sizing: border-box;
  height: 2rem;
  line-height: 2rem;
  width: 100%;
}

.settingItem-button {
  background-color: transparent;
  border-style: none;
  padding-left: 0;
  padding-right: 0;
  text-align: initial;
  width: 100%;
}

.settingItem-button:not(:disabled) {
  color: #00f;
  text-decoration: underline;
}
