/**
* Pomodoro
*/

.pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

.pomodoro-clockWrapper {
  height: 70vmin;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 70vmin;
}

.pomodoro-circle,
.pomodoro-clockHand,
.pomodoro-toggleButton {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pomodoro-clockHand {
  --degree: 0deg;

  transform: rotate(var(--degree));
}

.pomodoro-toggleSymbol {
  display: block;
  fill: #333;
  transform-origin: center;
}

.pomodoro-toggleSymbol[data-inactive="true"] {
  display: none;
}

.pomodoro-remainingTime {
  font-family: 'Share Tech Mono', monospace;
  font-size: 10vmin;
}
